.contacts {
	padding: 70px 0;
	text-align: center;
}
.contacts__title {
	color: #777;
	margin-bottom: 39px;
}
.contacts__desc {
	color: #444;
	font-size: 18px;
	width: 755px;
	margin: 0 auto;
	margin-bottom: 42px;
}