.description {
	background-color: #00b5d2;
	padding-top: 100px;
	text-align: center;
	color: #fff;
}
.description__title {
	font-weight: 900;
	font-size: 48px;
	margin-bottom: 40px;
}
.description__subtitle {
	font-size: 18px;
	padding-bottom: 78px;
	font-weight: normal;
}
.description__img {
	img {
		margin: 0 auto;
	}
}