.progress {
	max-height: 720px;
}
.progress__background {
	background: url(../img/progres-bg.png) center no-repeat;
	width: 100%;
	height: 600px;
	background-size: cover;
	position: relative;
}
.progress__imgs {
	top: -430px;
	position: relative;
	.img-responsive {
		margin: 0 auto;
	}
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-image: url(../img/lines.png);
		background-repeat: no-repeat;
		background-position: center;
		z-index: 1;
	}
}
